.general{
    width: 100%;
    /* position: relative; */
    height: auto; 
    padding: 5px 5px 20px 5px;
    display:'flex';
    flex-direction:'column';
    margin:'0px 40px 20px 0px';
    width:'100%';
   
}

.general form{
    display: flex;
    flex-direction: column;
}
.general form label{
    margin: 15px 0px 0px 0px;
}
.general form  input{
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.207) ;
    margin-top: 3px ;
    background-color: rgba(125, 184, 211, 0.033);

}
